// primary colors
$color-primary: #ac2626;
$color-primary-dark: #ac0b0b;
$color-primary-light: #e74545;

$gradient-primary: linear-gradient($color-primary-light, $color-primary-dark);

// backgrund colors
//$background-color: rgba(255, 249, 249, 0.907);
$background-color: #f0eeee;

$color-white: #fff;
$color-white-smoke: rgb(228, 223, 223);

$color-dark: #000;

$color-grey: #555;
$color-grey-dark: #333;
