@font-face {
  font-family: "Lato Regular";
  src: local("Lato-Regular"),
    url(../../assets/fonts/Lato/Lato-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Lato Light";
  src: local("Lato-Regular"),
    url(../../assets/fonts/Lato/Lato-Light.ttf) format("truetype");
}

@font-face {
  font-family: "Lato Bold";
  src: local("Lato-Regular"),
    url(../../assets/fonts/Lato/Lato-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "Lato Italic";
  src: local("Lato-Regular"),
    url(../../assets/fonts/Lato/Lato-Italic.ttf) format("truetype");
}

@font-face {
  font-family: "Source Sans Pro";
  src: local("Source Sans Pro"),
    url(../../assets/fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf)
      format("truetype");
}

@font-face {
  font-family: "Source Sans Pro Bold";
  src: local("Source Sans Pro"),
    url(../../assets/fonts/Source_Sans_Pro/SourceSansPro-Bold.ttf)
      format("truetype");
}

@font-face {
  font-family: "Source Sans Pro Light";
  src: local("Source Sans Pro"),
    url(../../assets/fonts/Source_Sans_Pro/SourceSansPro-Light.ttf)
      format("truetype");
}

@font-face {
  font-family: "PlayFair";
  src: local("PlayFair"),
    url(../../assets/fonts/Playfair_Display/static/PlayfairDisplay-Regular.ttf)
      format("truetype");
}

@font-face {
  font-family: "PlayFair bold";
  src: local("PlayFair"),
    url(../../assets/fonts/Playfair_Display/static/PlayfairDisplay-Bold.ttf)
      format("truetype");
}
