@font-face {
  font-family: "Source Sans Pro";
  src: local("Source Sans Pro"), url(../../fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Source Sans Pro Bold";
  src: local("Source Sans Pro"), url(../../fonts/Source_Sans_Pro/SourceSansPro-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "Source Sans Pro Light";
  src: local("Source Sans Pro"), url(../../fonts/Source_Sans_Pro/SourceSansPro-Light.ttf) format("truetype");
}
@font-face {
  font-family: "PlayFair";
  src: local("PlayFair"), url(../../fonts/Playfair_Display/static/PlayfairDisplay-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "PlayFair bold";
  src: local("PlayFair"), url(../../fonts/Playfair_Display/static/PlayfairDisplay-Bold.ttf) format("truetype");
}
.btn {
  text-align: center;
  color: white;
  font-family: inherit;
  border: none;
  cursor: pointer;
  transition: all 0.4s;
}
.btn--transparent {
  background-color: transparent;
  color: #fff;
  border: 3px solid rgb(228, 223, 223);
}
.btn--transparent:hover, .btn--transparent:active {
  background-color: white;
  color: #ac2626;
  border: 2px solid white;
  box-shadow: 0 0 1.3rem rgba(255, 255, 255, 0.6);
}
.btn-filled {
  background-color: rgba(172, 38, 38, 0.8);
  box-shadow: 0 0.5rem 1rem rgba(85, 85, 85, 0.15);
}
.btn-filled:hover, .btn-filled:active {
  transform: translateY(-0.5rem) scale(1.05);
  background-color: #ac2626;
}
.btn--small {
  width: 15rem;
  padding: 0.6rem 0rem;
  border-radius: 4px;
  font-weight: 700;
}
.btn__desktop--medium {
  width: 20rem;
  padding: 0.8rem 0.6rem;
  border-radius: 4px;
  font-weight: 700;
  font-size: 2rem;
}
.btn__desktop--big {
  width: 30rem;
  padding: 4rem 2rem;
  border-radius: 4px;
  font-weight: 700;
  font-size: 3rem;
}
.btn--medium {
  width: 80%;
  padding: 1.4rem 0rem;
  border-radius: 4px;
  font-weight: 700;
  font-size: 2rem;
}
.btn--big {
  width: 30rem;
  padding: 1.6rem 1rem;
  border-radius: 4px;
  font-weight: 700;
  font-size: 3.5rem;
}
@media screen and (min-width: 768px) {
  .btn--small {
    width: 20rem;
    padding: 1.2rem 0;
    font-size: 1.7rem;
  }
  .btn--big {
    width: 40rem;
    padding: 3rem 2rem;
    border-radius: 4px;
    font-weight: 700;
    font-size: 4rem;
  }
}

.checkbox-container {
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.6rem 0.7rem;
  margin: 0.3rem 0 0.5rem 0;
  cursor: pointer;
  font-size: 1.8rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkbox-container .checkmark {
  position: relative;
  height: 2.5rem;
  width: 2.5rem;
  margin: 0 0.5rem 0 0;
  background-color: white;
  border: 1px solid transparent;
  border-radius: 3px;
}
.checkbox-container:hover input ~ .checkmark {
  background-color: white;
}
.checkbox-container input:checked ~ .checkmark {
  background-color: #ac2626;
}
.checkbox-container input:checked ~ .checkmark::after {
  display: block;
}
.checkbox-container .checkmark::after {
  content: "";
  position: absolute;
  left: 40%;
  top: 15%;
  width: 7px;
  height: 14px;
  border: solid white;
  border-width: 0 2.5px 2.5px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.register-page {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f0eeee;
  transition: all 0.3s linear;
}
.register-page__intro {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}
.register-page__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem 0;
  padding: 1rem 2rem 0 2rem;
  font-size: 2.2rem;
  font-family: "Source Sans Pro";
  font-weight: 500;
  border-top: 1px solid rgba(85, 85, 85, 0.5);
  transition: all 0.3s;
}
.register-page__logo-box {
  font-size: 7rem;
  font-family: "DisplayPro";
  font-weight: 600;
  color: #ac2626;
  padding: 1rem 0;
}
.register-page__slogan {
  font-size: 2rem;
  font-weight: 400;
  font-family: "Source Sans Pro";
}
.register-page__title {
  width: 100%;
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
  padding: 1rem 0rem;
  color: #ac2626;
}
.register-page label {
  padding: 0.3rem 0.7rem;
}
.register-page input {
  font-size: 2.2rem;
  border: 2px solid transparent;
  border-radius: 6px;
  padding: 0.6rem 0.7rem;
  margin: 0.3rem 0 0.5rem 0;
  transition: all 0.3s;
}
.register-page input:hover, .register-page input:focus {
  outline: none;
  border: 2px solid #ac2626;
  box-shadow: 0 0 4px rgba(85, 85, 85, 0.5);
}
.register-page button {
  margin: 1rem 0;
  align-self: center;
}
.register-page p {
  font-size: 2rem;
  margin: 0.2rem 0;
  padding: 0.5rem 0;
  width: 100%;
  text-align: center;
}
.register-page__forgot-password {
  width: 100%;
  text-align: center;
  font-weight: 500;
}
.register-page__redirect a {
  color: #ac2626;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.4s linear;
}
.register-page__redirect a:hover, .register-page__redirect a:active {
  transform: translateY(0.5rem);
}

@media screen and (min-width: 580px) {
  .register-page__intro {
    width: 60%;
    padding: 0 4rem;
  }
  .register-page__form {
    width: 60%;
    padding: 0 4rem;
  }
  .register-page__title {
    width: 100%;
    font-size: 4rem;
    font-weight: 700;
  }
  .register-page label {
    font-size: 2.4rem;
    padding: 0.3rem 0.7rem;
  }
  .register-page input {
    transition: all 0.3s;
    font-size: 2.4rem;
    padding: 0.8rem 0.9rem;
    margin: 0.5rem 0 0.7rem 0;
  }
  .register-page button {
    margin: 1.3rem 0;
    padding: 1.5rem;
    align-self: center;
  }
  .register-page p {
    font-size: 2.2rem;
    margin: 0.3rem 0;
    padding: 0.6rem 0;
  }
}
@media screen and (min-width: 1348px) {
  .register-page {
    flex-direction: row;
    padding: 0 20rem;
  }
  .register-page__intro {
    width: 50%;
    padding: 0 4rem;
  }
  .register-page__form {
    width: 50%;
    padding: 0 4rem;
    font-size: 2.5rem;
    border: none;
    border-left: 1px solid rgba(85, 85, 85, 0.5);
  }
  .register-page__logo-box {
    font-size: 10rem;
    padding: 1rem 0;
  }
  .register-page__slogan {
    font-size: 3rem;
    font-weight: 400;
    font-family: "Source Sans Pro";
  }
  .register-page__title {
    width: 100%;
    font-size: 5rem;
    font-weight: 700;
  }
  .register-page label {
    font-size: 2.4rem;
    padding: 0.3rem 0.7rem;
  }
  .register-page input {
    transition: all 0.3s;
    font-size: 2.4rem;
    padding: 1.2rem 1.3rem;
    margin: 0.7rem 0 0.9rem 0;
  }
  .register-page button {
    margin: 1.6rem 0;
    padding: 2rem;
    align-self: center;
  }
  .register-page p {
    font-size: 2.4rem;
    margin: 0.3rem 0;
    padding: 0.2em 0;
  }
}
.login-page {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f0eeee;
  transition: all 0.3s linear;
}
.login-page__intro {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}
.login-page__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem 0;
  padding: 1rem 2rem 0 2rem;
  font-size: 2.2rem;
  font-family: "Source Sans Pro";
  font-weight: 500;
  border-top: 1px solid rgba(85, 85, 85, 0.5);
  transition: all 0.3s;
}
.login-page__logo-box {
  font-size: 7rem;
  font-family: "DisplayPro";
  font-weight: 600;
  color: #ac2626;
  padding: 1rem 0;
}
.login-page__slogan {
  font-size: 2rem;
  font-weight: 400;
  font-family: "Source Sans Pro";
}
.login-page__title {
  width: 100%;
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
  padding: 1rem 0rem;
  color: #ac2626;
}
.login-page label {
  padding: 0.3rem 0.7rem;
}
.login-page input {
  font-size: 2.2rem;
  border: 2px solid transparent;
  border-radius: 6px;
  padding: 0.6rem 0.7rem;
  margin: 0.3rem 0 0.5rem 0;
  transition: all 0.3s;
}
.login-page input:hover, .login-page input:focus {
  outline: none;
  border: 2px solid #ac2626;
  box-shadow: 0 0 4px rgba(85, 85, 85, 0.5);
}
.login-page button {
  margin: 1rem 0;
  align-self: center;
}
.login-page p {
  font-size: 2rem;
  margin: 0.2rem 0;
  padding: 0.5rem 0;
  width: 100%;
  text-align: center;
}
.login-page__remember-box {
  padding: 0.6rem 0.7rem;
  margin: 0.3rem 0 0.5rem 0;
  font-size: 1.7rem;
}
.login-page__remember-box input {
  color: red;
}
.login-page__forgot-password {
  width: 100%;
  text-align: center;
  font-weight: 500;
}
.login-page__redirect a {
  color: #ac2626;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.4s linear;
}
.login-page__redirect a:hover, .login-page__redirect a:active {
  transform: translateY(0.5rem);
}

@media screen and (min-width: 580px) {
  .login-page__intro {
    width: 60%;
    padding: 0 4rem;
  }
  .login-page__form {
    width: 60%;
    padding: 0 4rem;
  }
  .login-page__title {
    width: 100%;
    font-size: 4rem;
    font-weight: 700;
  }
  .login-page label {
    font-size: 2.4rem;
    padding: 0.3rem 0.7rem;
  }
  .login-page input {
    transition: all 0.3s;
    font-size: 2.4rem;
    padding: 0.8rem 0.9rem;
    margin: 0.5rem 0 0.7rem 0;
  }
  .login-page button {
    margin: 1.3rem 0;
    padding: 1.5rem;
    align-self: center;
  }
  .login-page p {
    font-size: 2.2rem;
    margin: 0.3rem 0;
    padding: 0.6rem 0;
  }
}
@media screen and (min-width: 1348px) {
  .login-page {
    flex-direction: row;
    padding: 0 20rem;
  }
  .login-page__intro {
    width: 50%;
    padding: 0 4rem;
  }
  .login-page__form {
    width: 50%;
    padding: 0 4rem;
    font-size: 2.5rem;
    border: none;
    border-left: 1px solid rgba(85, 85, 85, 0.5);
  }
  .login-page__logo-box {
    font-size: 10rem;
    padding: 1rem 0;
  }
  .login-page__slogan {
    font-size: 3rem;
    font-weight: 400;
    font-family: "Source Sans Pro";
  }
  .login-page__title {
    width: 100%;
    font-size: 5rem;
    font-weight: 700;
  }
  .login-page label {
    font-size: 2.4rem;
    padding: 0.3rem 0.7rem;
  }
  .login-page input {
    transition: all 0.3s;
    font-size: 2.4rem;
    padding: 1.2rem 1.3rem;
    margin: 0.7rem 0 0.9rem 0;
  }
  .login-page button {
    margin: 1.6rem 0;
    padding: 2rem;
    align-self: center;
  }
  .login-page p {
    font-size: 2.4rem;
    margin: 0.3rem 0;
    padding: 0.2em 0;
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  max-width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #f0eeee;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/*# sourceMappingURL=index.css.map */
