@use "../../base/colors";
@use "../../base/fonts";

.register-page {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: colors.$background-color;

  transition: all 0.3s linear;

  &__intro {
    display: flex;
    width: 80%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    margin: 1rem 0;
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 80%;
    margin: 1rem 0;
    padding: 1rem 2rem 0 2rem;

    font-size: 2.2rem;
    font-family: "Source Sans Pro";
    font-weight: 500;

    border-top: 1px solid rgba(colors.$color-grey, 0.5);
  }
  &__logo-box {
    font-size: 7rem;
    font-family: "DisplayPro";
    font-weight: 600;
    color: colors.$color-primary;

    padding: 1rem 0;
  }

  &__slogan {
    font-size: 2rem;
    font-weight: 400;
    font-family: "Source Sans Pro";
  }

  &__title {
    width: 100%;
    text-align: center;
    padding: 1rem 0rem;
    color: colors.$color-primary;
  }

  label {
    padding: 0.3rem 0.7rem;
    // transform: translateY(3.5rem);
  }

  input {
    font-size: 2.2rem;

    border: none;
    border-radius: 6px;

    padding: 0.6rem 0.7rem;
    margin: 0.3rem 0 0.5rem 0;

    &:active {
      border: none;
    }
  }

  button {
    margin: 1rem 0;
    align-self: center;
  }

  p {
    font-size: 2rem;

    margin: 0.2rem 0;
    padding: 0.5rem 0;
    width: 100%;
    text-align: center;
  }

  &__forgot-password {
    width: 100%;
    text-align: center;
    font-weight: 500;
    text-decoration: underline black 0.1rem;

    transition: 0.4s all ease-in;
  }

  &__redirect {
    a {
      color: colors.$color-primary;
      font-weight: 600;

      text-decoration: none;
      cursor: pointer;

      transition: all 0.4s linear;

      &:hover,
      &:active {
        transform: translateY(0.5rem);
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .register-page {
    flex-direction: row;

    &__intro {
      width: 40%;
      padding: 0 4rem;
    }

    &__form {
      width: 40%;
      padding: 0 4rem;

      border: none;
      border-left: 1px solid rgba(colors.$color-grey, 0.5);
    }

    &__logo-box {
      font-size: 10rem;
      padding: 1rem 0;
    }

    &__slogan {
      font-size: 3rem;
      font-weight: 400;
      font-family: "Source Sans Pro";
    }

    &__title {
      width: 100%;
      font-size: 5rem;
      font-weight: 700;
    }

    label {
      font-size: 2.4rem;
      padding: 0.3rem 0.7rem;
      // transform: translateY(3.5rem);
    }

    input {
      font-size: 2.4rem;

      border: none;
      border-radius: 6px;

      padding: 0.8rem 0.9rem;
      margin: 0.5rem 0 0.7rem 0;

      &:active {
        border: none;
      }
    }

    button {
      margin: 1.3rem 0;
      align-self: center;
    }

    p {
      font-size: 2rem;

      margin: 0.3rem 0;
      padding: 0.6rem 0;
    }
  }
}
